<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msi.springemp.dao.FileDao">
    <select id="findByuser" resultType="File" parameterType="java.lang.String">
        select * from file where usernames = #{usernames}
    </select>
    <select id="getAllFile" resultType="com.msi.springemp.pojo.File">
        select * from file;
    </select>
    <select id="findBytimename" resultType="File" parameterType="java.lang.String">
        select * from file where timename = #{timename};
    </select>
    <insert id="addFile" parameterType="com.msi.springemp.pojo.File">
        insert into file
        (usernames, realname, timename)
        values
        (#{usernames} ,#{realname} ,#{timename} )
    </insert>
<delete id="deleteFile" parameterType="string">
    delete from file where timename= #{timename};
</delete>
    <update id="updateFile" parameterType="string">
        update file set realname = #{realname} where timename = #{timename}
    </update>


</mapper>