<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="F:\aop\src\main\java" />
            <option value="F:\Drives\src\main\java\com\msi\springemp" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>